body {
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

header {
    background-color: #489ad8;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

#subheading {
    margin-left: 5%;
    margin-right: 5%;
    align-self: center;
}

#subheading-content {
    margin-left: 5%;
    margin-right: 5%;
    align-content: center;
}

.navigation-bar {
    position: relative;
    top: 0;
    width: 100%; 
    display: flex;
    flex-direction: column; 
    left: 0; 
    top: 0; 
    height: 10;
    background-color: #d8d8d8;
    border-bottom-right-radius: 15%;
}

.content {
  }

#outcomes {
    margin: 50px;
    flex-direction: column;
}

h2 {
    color: #3498db;
}

.outcome {
    margin-bottom: 25px;
    width: 50%;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #fff;
}

.outcome b {
    color: white;
    font-size: 18px;
}

.outcome-1 {
    background-color: #2ecc71;
}

.outcome-2 {
    background-color: #f39c12;
}

.outcome-3 {
    background-color: #9b59b6
}

.outcome-4 {
    background-color: #e74c3c
}

.outcome-5 {
    background-color: #3498db;
}

.outcome-6 {
    background-color: #34495e;
}

.footer-button {
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    height: 30px;
    width: 25%;
    text-align: center;
    color: white;
    border: none;
    font-size: medium;
}

.footer-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

header h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
}

header p {
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    color: #ffffff;
    text-align: center;
}